.title
{
    color: red;
    font-size: 50px;
    text-align: center;
}

.description
{
    padding: 10px;
    border-left: 10px solid black;
    width: 100px;
}

.image
{
    width: 10%;
    position: relative;
    left: 20px;
}

.chart {
    width: 20%;
    height: 20%;
}

.circ
{
    stroke: green;
    fill: white;
    stroke-width: 5;
}

.rect {
    
}